@page "/admin/movies/create"
@using BlazorPractice1.ApiRequests
@using BlazorPractice1.ApiRequests.Model
@using BlazorPractice1.ApiRequests.Services
@inject ApiRequest ApiRequest
@inject AuthService AuthService
@inject NavigationManager Navigation

<h3>CreateMovie</h3>

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <p style="color:red">@errorMessage</p>
}
@if (!string.IsNullOrWhiteSpace(succesMessage))
{
    <p style="color:green">@succesMessage</p>
}

<div class="card">
    <input @bind="createMovie.Name" placeholder="Name"/>
    <input @bind="createMovie.Description" placeholder="Description"/>
    <select @bind="createMovie.id_Genre" placeholder="Genre">
        @foreach (var genre in genres)
        {
            <option value ="@genre.id_Genre">@genre.name</option>
        }
    </select>

    <input type="date" @bind="createMovie.Date" placeholder="Date"/>
    <input type="number" @bind="createMovie.Rating" placeholder="Rating"/>
    <InputFile OnChange="HandleFileSelected"></InputFile>
    <button @onclick="CreateMovieAsync">Create</button>
</div>
@code {
    private CreateMovieRequest createMovie = new CreateMovieRequest();
    private List<GenreResponse> genres = new List<GenreResponse>();
    private IBrowserFile? selectedFile;

    private string? errorMessage;
    private string? succesMessage;

    protected override async Task OnInitializedAsync()
    {
        await AuthService.LoadSessionAsync();
        await LoadGenres();
    }

    private async Task LoadGenres()
    {
        if (string.IsNullOrWhiteSpace(AuthService.Token))
        {
            errorMessage = "Токен не найден";
            return;
        }

        var result = await ApiRequest.GetAllGenres(AuthService.Token);
        if(result == null || !result.status || result.genres == null)
        {
            errorMessage = "Не удалось загрузить жанры";
            return;
        }

        genres = result.genres;
        if(genres.Count > 0)
        {
            createMovie.id_Genre = genres[0].id_Genre;
        }

    }
    private void HandleFileSelected(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;
    }

    private async Task CreateMovieAsync()
    {
        errorMessage = null;
        succesMessage = null;
        if (string.IsNullOrWhiteSpace(AuthService.Token))
        {
            errorMessage = "Токен не найден";
            return;
        }

        if(selectedFile != null)
        {
            var uploadResult = await ApiRequest.UploadMovieImageAsync(selectedFile, AuthService.Token);

            if(uploadResult == null || !uploadResult.status || string.IsNullOrWhiteSpace(uploadResult.img))
            {
                errorMessage = "Ошибка загрузки изображения";
                return;
            }

            createMovie.img = uploadResult.img;
        }

        var result = await ApiRequest.CreateMovieAsyncResponse(createMovie, AuthService.Token);
            if(result == null || !result.status)
            {
                errorMessage = "Ошибка создания фильма";
                return;
            }

            succesMessage = "Фильм создан";
            createMovie = new CreateMovieRequest();
            selectedFile = null;
    }
}
