@page "/"
@using BlazorPractice1.ApiRequests.Services
@using static BlazorPractice1.ApiRequests.Model.Auth
@inject AuthService AuthService
@inject NavigationManager Navigation

<button @onclick="Logout"></button>

@code {
	public void Logout()
	{
		AuthService.Logout();
		Navigation.NavigateTo("/login");
	}
}