@page "/login"
@using BlazorPractice1.ApiRequests.Services
@using static BlazorPractice1.ApiRequests.Model.Auth
@inject AuthService AuthService
@inject NavigationManager Navigation

<h3>Вход</h3>

<input @bind="loginRequest.Email" placeholder="Email" />
<input @bind="loginRequest.Password" type="password" placeholder="Пароль" />
<button @onclick="LoginPage">Войти</button>

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <p>@errorMessage</p>
}

@code {
    private LoginRequest loginRequest = new LoginRequest();
    private string? errorMessage;

    private async Task LoginPage()
    {
        var success = await AuthService.LoginAsync(loginRequest);

        if (success)
        {
            Navigation.NavigateTo("/");
        }
        else
        {
            errorMessage = "Неверный логин или пароль";
        }
    }
}
