@page "/movies/{id:int}"
@using BlazorPractice1.ApiRequests
@using BlazorPractice1.ApiRequests.Services
@inject ApiRequest ApiRequest
@inject AuthService AuthService
@inject NavigationManager Navigation

<h3>MoviesPage</h3>

@code {

}
